/Entity-Module/target/
/Core-Module/target/
/Web-Module/target/
/Teacher-Module/target/
/Routine-Module/target/
/Mark-Module/target/
/Subject-Module/target/
/Status-Module/target/
/Parent-Module/target/
/Class-Module/target/
/Student-Module/target/
/Exam-Module/target/
/Attendance-Module/target/
/_Class-Module/target/

/Exam-Module/target/
/ExamType-Module/target/
/StudentStatus-Module/target/
/Relation-Module/target/
/Time-Module/target/
/Section-Module/target/